* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}
a :hover {
    color: orange;
}

/* Định dạn phông chữ, khoảng cách dòng, màu nền */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: #f0f0f0;
}

/* Định dạng phần header */
header {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 20;
    top: 0;

}

.container {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10%
}

.logo {
    padding-left: 10%;
}

.logo a {
    color: red;
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0px 30px;
}

nav ul li a:hover {
    color: orange;
}

.search_container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
}

.search_container button p {
    font-size: 16px;
    font-weight: bold;
}

#logoutBtn {
    display: none;
    width: 30%;
    height: 40px;
    background-color: #888;
}

.login_button {
    display: block;
}

.search_container p {
    font-weight: bold;
}

.search_bar {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
}

/*Tìm kiếm phim*/
.dropdown-results {
  position: absolute;
  background-color: #2b2b2b;
  border: 1px solid #444;
  border-top: none;
  width: 15%;
  max-height: 300px;
  overflow-y: auto;
  display: none;
  z-index: 9999;
  border-radius: 0 0 6px 6px;
  top: 100%;
  right: 15%;
}

.dropdown-results a {
    color: white;
    display: flex;
}
.result-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #444;
  cursor: pointer;
  color: white;
}

.result-item:hover {
  background-color: #444;
}

.result-item img {
  width: 50px;
  height: 70px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 4px;
}

a .div {
  display: flex;
  align-items: center;
}

/* Định dạng phần banner */
.container_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    background-color: rgb(25, 25, 25);
}
.control {
    position: absolute;
    top:50%;
    font-size: 30px;
    color:white;
}

.control.prev {
    right: 93%;
    transform: translateY(-50%);
}

.control.next {
    left: 93%;
    transform: translateY(-50%);
}

div div div i{
    font-size: 48px;
}

div div div i:hover {
    color: orange;
}

.controllor {
    position: relative;
}

.controllor img {
    width: 1040px;
    border-radius: 10px;
}

.banner_show {
    width:80%;
    max-width: 1200px;
    height: 600px;
}

.banner_show:hover {
    transform: scale(1.1);
    transition: 0.3s;
    border: orange solid 2px;
}

.list {
    display: flex;
    width: 77%;
    overflow-x: auto;
    gap: 16px;
    padding: 10px;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
} 

.list::-webkit-scrollbar {
    height: 8px;
}

.list::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.list img {
    width: 102px;
    height: 180px;
}

.list img:hover {
    transform: scale(1.05);
    transition: 0.3s;
    border: orange solid 2px;
}

.item.active {
    background-color: rgb(255, 116, 116);
}

                                                                        /* Định dạng phàn main */
main {
    background-color: rgb(25, 25, 25);
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.a { /* Tiêu đề của phần phim đề cử */
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin: 0 12.5%;
}

.recommended_movie_list, .hot_movie_list {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 10px;
  scroll-behavior: smooth;
  width: 75%;
  max-width: 1800px;
}

.recommended_movie_list div p, .hot_movie_list div p, .all_movie_list div p {
  color: white;
  font-size: 16px;
  text-align: center;
  margin-top: 5px;
  width: 200px;
}

.recommended_movie_list img, .hot_movie_list img, .all_movie_list img {
  width: 200px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.recommended_movie_list img:hover, .hot_movie_list img:hover {
    transform: scale(1.05);
    transition: 0.3s;
    border: orange solid 2px;
}

.recommended_movie_list::-webkit-scrollbar, .hot_movie_list::-webkit-scrollbar {
  height: 8px;
}

.recommended_movie_list::-webkit-scrollbar-thumb, .hot_movie_list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.all_movie_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
    gap: 20px;
}

.all_movie_list img:hover{
    transform: scale(1.05);
    transition: 0.3s;
    border: orange solid 2px;
}


.up_arrow {
    position:fixed;
    font-size: 64px;
    color: #444;
    width: 3.5%;
    height: 75px;
    right: 1%;
    bottom: 100px;
    z-index: 100;
    transition: transform 0.5s ease;
}

.up_arrow:hover {
    transform: scale(1.2);
    color: orange;
}

#on {
    font-size: 64px;
    bottom: 35px;
    position: fixed;
    right: 1%;
    transition: transform 0.5s ease;
}
#on:hover {
    transform: scale(1.2);
    color: orange;
}

#off {
    font-size: 64px;
    bottom: 35px;
    position: fixed;
    right:1%;
    transition: transform 0.5s ease;
    display: none;
}
#off:hover {
    transform: scale(1.2);
}