<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="web.css">
</head>
<body>
    <div class="banner"></div>
    <!--Logo cua web-->
    <div class="container">
        <!--dang nhap-->
        <div class="login_logo"><p>Đăng nhập</p></div>
        <div class="login_form">
            <div class="container_input">
                <input id="username" type="text" placeholder="Tên đăng nhập hoặc email">
                <input id="password" type="password" placeholder="Mật khẩu">
                <div class="to_signin"><p>Chưa có tài khoản? <a href="signin.html">Đăng ký tại đây.</a> </p></div>
            </div class="container_input">
            <div>
                <button id="loggin" class="button" onclick="login()"><p>Đăng nhập</p></button> 
            </div> 
            
        </div>
    </div>
</body>

</html>
<script src="web.js"></script>